input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
  height: 5rem;
  background: white;
  border: 2px solid var(--color-grey);
  border-radius: var(--border-radius-small);
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--color-black);
  font-size: 1.6rem;
  font-family: inherit;
  outline: none;
  width: 100%;
  -webkit-appearance: none;
  transition: border-color .3s ease;
  &:focus {
    border-color: var(--color-black);
  }

}

textarea {
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 10rem;
}

abbr.required {
  color: red;
  font-size: 1.4rem;
}

label {
  font-size: 1.4rem;
  margin-bottom: .5rem;
  display: block;
}

.is-desktop {
  & input[type="text"]:hover:not(:focus),
  & input[type="tel"]:hover:not(:focus),
  & input[type="email"]:hover:not(:focus),
  & input[type="password"]:hover:not(:focus),
  & input[type="number"]:hover:not(:focus),
  & textarea:hover {
    border-color: var(--color-black-30);
  }
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  & + span {
    position: relative;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
  }
  & + span:before {
    content: '';
    flex-shrink: 0;
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 2rem;
    height: 2rem;
    background: var(--color-white);
    border: .2rem solid var(--color-grey);
    border-radius: .4rem;
		transition: all .2s ease;
		@media (--bp-md) {
			width: 2.4rem;
	    height: 2.4rem;
    }
  }
  &:checked + span:before {
    background: var(--color-shade-3);
		border-color: var(--color-black);
  }
  &:disabled + span {
    color: #b8b8b8;
    cursor: auto;
  }
  &:disabled + span:before {
    box-shadow: none;
    background: #ddd;
  }
  &:checked + span::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
		width: 2rem;
    height: 2rem;
    background-image: url('../../img/icons/icon-arrow-down.svg');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
		@media (--bp-md) {
			width: 2.4rem;
	    height: 2.4rem;
    }
  }
}

.is-desktop {
	& .woocommerce-form__label {
		&:hover {
			& input[type=checkbox]+span:before {
				border-color: var(--color-black);
			}
		}
	}
}
