/* ----------------------------------------
  UTILITY CLASSES
---------------------------------------- */
.u-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.u-fixed {
  position: fixed;
}
.u-absolute {
  position: absolute;
}
.u-flex {
  display: flex;
}
.u-flex-wrap {
  flex-wrap: wrap;
}
.u-align-v-center {
  align-items: center;
}
.u-align-v-end {
  align-items: flex-end;
}
.u-align-h-center {
  justify-content: center;
}
.u-align-h-justify {
  justify-content: space-between;
}
.u-column {
  flex-direction: column;
}
.is-reversed {
  flex-direction: row-reverse;
}
@media screen and (max-width: 768px) {
	.u-hide-mobile {
		display: none;
	}
}

/* ----------------------------------------
  IMAGES & MEDIA
---------------------------------------- */

.u-cover {
  background-size: cover;
}
.u-cover--center {
  background-position: 50%;
}
.u-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}
.u-object-fit {
  object-fit: cover;
}
.u-object-contain {
  object-fit: contain;
}
.u-holder {
  position: relative;
  overflow: hidden;
  background-color: var(--color-black);
  & img {
    vertical-align: middle;
  }
  &:after {
    content: '';
    display: block;
    height: 0;
  }
  &.u-holder--half {
    &:after {
      padding-bottom: 50%;
    }
  }
  &.u-holder--wide {
    &:after {
      padding-bottom: 56.25%;
    }
  }
  &.u-holder--twothirds {
    &:after {
      padding-bottom: 75%;
    }
  }
  &.u-holder--square {
    &:after {
      padding-bottom: 100%;
    }
  }
	&.u-holder--portrait {
    &:after {
      padding-bottom: 125%;
    }
  }
}

/* ----------------------------------------
  TEXT
---------------------------------------- */
.u-text-center {
	text-align: center;
}
.u-color-white {
  color: white !important;
}
.u-text-up {
  text-transform: uppercase;
}
.u-text-max-60 {
	max-width: 60rem;
}
.u-text-max-70 {
	max-width: 70rem;
}
/* ----------------------------------------
  MARGINS
---------------------------------------- */
.u-center {
	margin-left: auto;
	margin-right: auto;
}
.u-mb-10 {
  margin-bottom: 1rem;
}
.u-mb-20 {
  margin-bottom: 2rem;
}
.u-mb-30 {
  margin-bottom: 3rem;
}
/* ----------------------------------------
  BORDERS
---------------------------------------- */
.u-rounded {
  border-radius: var(--border-radius);
}
.u-pill {
  border-radius: 9999px!important;
}
.u-circle {
  border-radius: 50%;
}
/* ----------------------------------------
  LAZY
---------------------------------------- */
.u-lazy {
  opacity: 0;
  transition: opacity .3s ease;
  &.is-loaded {
    opacity: 1;
  }
}
/* ----------------------------------------
  ICONS
---------------------------------------- */
.u-icon {
  display: inline-block;
	& svg,
	& img {
		vertical-align: middle;
	}
}
/* ----------------------------------------
  SITE OVERLAY
---------------------------------------- */
.u-site-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;;
  background-color: hsla(54, 100%, 74%, .9);
  z-index: 20;
  opacity: 0;
  visibility: hidden;
	transition: opacity 700ms, visibility 0s 700ms;
}
