{% block html_head_container %}

{% include 'html-head.twig' %}
	{% block head %}
	{% endblock %}
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
			<nav id="nav-main" class="nav-main" role="navigation">
				{% include "menu.twig" with {'items': menu.get_items} %} {# Declare a menu ("menu") in "add_to_context" in functions.php #}
			</nav>
			{% endblock %}
		</header>
		<div id="app" class="app">
			{% block content %}
				Sorry, no content
			{% endblock %}
			{% block footer %}
			<footer class="l-footer">
				{% include 'footer.twig' %}
			</footer>
			{% endblock %}
		</div>
		{{ function('wp_footer') }}
	</body>
</html>
