<div class="container">
	<div class="row">
		<div class="col-12">
			<a class="l-footer-badge" href="https://www.gafas.be" target="_blank">
				<div class="l-footer-badge__text">site by</div>
				<div class="l-footer-badge__logo">
					<img src=data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw== class="lazy" data-src="{{ site.theme.link }}/src/img/brand/logo-gafas.svg" alt="Gafas.">
				</div>
			</a>
		</div>
	</div>
</div>
