.button {
  position: relative;
  display: inline-block;
  padding: 1.5rem 5rem 1.5rem 2rem;
  min-width: 18rem;
  font-family: var(--font-bold);
  font-size: 1.6rem;
  line-height: 1;
  text-align: left;
  color: var(--color-black);
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius-small);
  background-color: var(--color-white);
  transition: all .2s ease-out;
  cursor: pointer;
  outline: none;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 2rem;
    width: 1.8rem;
    height: .8rem;
    transform: translate3d(0, -50%, 0) rotate(-90deg);
    background-image: url('../../img/icons/icon-arrow-down.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform .2s, opacity .2s;
  }
  @media (--bp-md) {
    padding: 2rem 5rem 2rem 2rem;
  }

  &--primary {
    background-color: var(--color-white);
  }

  &--cart {
    background-color: var(--color-shade-3);

    &:hover {
      background-color: var(--color-shade-2);
    }
  }

  &--small {
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    text-align: center;

    &::after {
      display: none;
    }
  }

  &--link {
    border: none;
    min-width: 2rem;
  }
}

.is-desktop {
	& .button {
		&:hover {
	    text-decoration: none;
			box-shadow: 2px 2px 0 rgba(0, 0, 0, 1);
	    &::after {
	      transform: translate3d(.5rem, -50%, 0) rotate(-90deg);
	    }
	  }
	}
}

.button-close {
  width: 5rem;
  height: 5rem;
  border: .2rem solid var(--color-black);
  border-radius: 100%;
  background-color: var(--color-white);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  &:hover {
    svg {
      transform: scale(1.2);
    }
  }

  svg {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    transition: transform .2s;
  }

  &_close {
    width: 3rem;
    height: 3rem;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.button-menu {
	margin: 0;
	padding: 0;
	background: transparent;
	font-family: inherit;
	appearance: none;
	border: none;
	border-radius: 0;
	outline: none;
	cursor: pointer;
	&__inner {
		display: inline-flex;
		align-items: center;
	}
	&__icon {
		width: 1.6rem;
		height: .8rem;
		transition: all .3s var(--easeInOutCubic);
	}
	&__label {
		margin-left: 1rem;
		font-size: 1.6rem;
		transition: all .3s var(--easeInOutCubic);
		@media (--bp-lg) {
			font-size: 1.8rem;
		}
	}
}

.is-desktop {
	& .button-menu:hover {
		& .button-menu__icon {
			transform: rotate(-90deg);
		}
		& .button-menu__label {
			transform: translate3d(.5rem, 0, 0);
		}
	}
}
