.c-nav-bar {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
	> a {
		flex: 0 0 auto;
		display: inline-block;
		transition: all .2s ease;
	}
  &::-webkit-scrollbar {
    display: none;
  }
}
