/* ----------------------------------------
popup
---------------------------------------- */
.popup {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  visibility: hidden;
  transition: opacity 400ms, visibility 0s 400ms;
  pointer-events: none;
	display: none;
  & .popup__inner {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  & .popup__box {
    width: 90%;
    max-width: 100rem;
    margin: 7rem auto;
    background: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-hard);
		opacity: 0;
		transform: translate3d(0, 5rem, 0);
		transition: all .4s var(--easeInOutCubic);
    padding: 5rem 3rem;
    @media (--bp-md) {
      padding: 10rem;
			margin: 10rem auto;
    }
  }
	& .popup__video {
		width: 90%;
    max-width: 120rem;
		margin: 0 auto 0 auto;
		opacity: 0;
		transform: translate3d(0, 5rem, 0);
		transition: all .4s var(--easeInOutCubic);
		& .video-holder {
			width: 100%;
			position: relative;
			overflow: hidden;
			background-color: var(--color-black);
			box-shadow: var(--box-shadow-hard);
			border-radius: var(--border-radius);
			&:after {
				content: '';
				display: block;
				padding-bottom: 56.25%;
			}
			& iframe,
			& video {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
  & .popup__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 10;
		pointer-events: auto;
    @media (--bp-md) {
      top: 5rem;
      right: 5rem;
    }
  }
  &.is-active {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    transition: opacity 400ms;
		display: block;
		& .popup__box,
		& .popup__video {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
  }
	&.popup--video {
		& .popup__inner {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}

.popup-active {
  overflow: hidden;
  & body {
    overflow: visible;
    height: 100%;
  }
	& .main-header {
		z-index: 0;
	}
}
