.toggle-block {
  background: white;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-soft);
  & .toggle-block__title {
    font-size: 1.4rem;
    padding: 2.5rem 2rem;
    font-family: var(--font-medium);
    position: relative;
    cursor: pointer;
    @media (--bp-md) {
      padding: 3rem 5rem;
      font-size: 1.6rem;
    }
    &:after {
      content: '';
      position: absolute;
      top: 2.8rem;
      right: 2rem;
      width: 1.4rem;
      height: .9rem;
			transition: all .3s ease;
      @media (--bp-md) {
        top: 3rem;
        right: 5rem;
      }
    }
  }
  & .toggle-block__content {
    display: none;
    padding: 0 2rem 2rem 2rem;
		@media (--bp-md) {
      padding: 0 5rem 3rem 5rem;
    }
    & li {
      padding: 2rem 0;
      position: relative;
      &:not(:last-child) {
        box-shadow: inset 0 -1px 0 0 var(--color-grey-lightest);
      }
      & a {
        display: block;
        position: relative;
        color: var(--color-black);
      }
    }
  }
  &.is-active {
		& .toggle-block__title {
			&:after {
				transform: rotate(180deg);
			}
		}
    & .toggle-block__content {
      display: block;
    }
  }
  &:not(:last-child) {
    margin-bottom: 1rem;
		@media (--bp-md) {
			margin-bottom: 2rem;
		}
  }
}
.toggle-block {
  & .toggle-block__content {
    & li {
      & a:hover {
        color: var(--color-blue-secondary);
      }
    }
  }
}
