/* ----------------------------------------
  VENDOR
---------------------------------------- */
@import "./vendor/grid.css";
@import "./vendor/swiper.scss";

/* ----------------------------------------
  BASE
---------------------------------------- */
@import "./base/variables.scss";
@import "./base/mixins.scss";
@import "./fonts/fonts.scss";
@import "./base/reset.scss";
@import "./base/base.scss";
@import "./base/typo.scss";
@import "./base/utility.scss";
@import "./base/form.scss";
/* ----------------------------------------
  LAYOUT
---------------------------------------- */
@import "./layout/header.scss";
@import "./layout/footer.scss";
/* ----------------------------------------
  COMPONENTS
---------------------------------------- */
@import "./components/cookies";
@import "./components/logo";
@import "./components/language";
@import "./components/bag";
@import "./components/page-loader.scss";
@import "./components/button.scss";
@import "./components/faqs.scss";
@import "./components/nav-bar.scss";
@import "./components/menu.scss";
@import "./components/popup.scss";
@import "./components/toggle-block.scss";
@import "./components/labels.scss";
@import "./components/tabs.scss";
@import "./components/social";
@import "./components/mission";
@import "./components/product";
@import "./components/ingredients";
@import "./components/reviews";
@import "./components/subscribe";
@import "./components/about-video";
@import "./components/instagram";
@import "./components/tooltip";
@import "./components/notices";
@import "./components/select2";
/* ----------------------------------------
  WOOCOMMERCE
---------------------------------------- */
@import "./woocommerce/woocommerce.scss";
@import "./woocommerce/account.scss";
@import "./woocommerce/cart.scss";

/* ----------------------------------------
  PAGES
---------------------------------------- */
@import "./pages/404";
@import "./pages/home";
@import "./pages/about";
@import "./pages/contact";
@import "./pages/page";
@import "./pages/faq";
@import "./pages/auth";
@import "./pages/cart";
@import "./pages/checkout";
@import "./pages/account";
@import "./pages/builder";
@import "./pages/thankyou";
@import "./pages/order-pay";
@import "./pages/lost-reset-password";

/* ----------------------------------------
  IE fixes
---------------------------------------- */
@import "./ie/ie11.css";

html,
body {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {

  }

  &__main {
    flex: 1 0 auto;
  }

  &__footer {
    flex-shrink: 0;
  }

}

.b-main {
  padding-top: 6rem;
  @media (--bp-md) {
    padding-top: 8rem;
  }
	@media (--bp-xl) {
    padding-top: 10rem;
  }
}

.h-align {
  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

.h-desktop {
  display: none;

  @media (--bp-lg) {
    display: block;
  }
}

.b-empty {
  padding: 10rem 0;

  &__message {
    font-size: 1.6rem;
  }
}

.ttt-pnwc-overlay {
  background: transparent;
  align-items: flex-start;
  padding: 0 2rem;
}

button.ttt-pnwc-close {
  top: 50% !important;
  right: 5rem !important;
  transform: translateY(-50%);
  width: 4rem;
  height: 4rem;
  background-color: var(--color-white);
  border: 2px solid var(--color-black) !important;

  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/icons/icon-close.svg');
  background-size: 1.2rem;

  &::before {
    display: none;
    content: '';
  }

  &:hover {
    transform: translateY(-50%);
    background-color: var(--color-white);
    opacity: .8;
  }
}

.ttt-pnwc-container {
  @extend .container;
  width: 100%;
  max-height: initial;
  padding: 3rem 5rem;
  border-radius: 8px;
  border: 2px solid var(--color-black);
  background: var(--color-shade-2);
  margin-top: 5rem;
}

.ttt-pnwc-content {
  padding-right: 3rem;
}

.ttt-pnwc-notice {
  padding: 0;
  line-height: 1.5;
  text-align: left;
  justify-content: flex-start;
  background: var(--color-shade-2);

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &.error {
    & .default-icon {
      &::before {
        content: '' !important;
        background-color: #CE6969;
        background-image: url('../img/icons/icon-close-white.svg');
        background-size: 1.2rem;
      }
    }
  }
}

.ttt-pnwc-notice-icon {
  margin: 0 1.5rem 0 0;

  &::before {
    content: '';
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  &.default-icon {
    &::before {
      content: '' !important;
      background-color: #8FCB78;
      background-image: url('../img/icons/icon-arrow-down-white.svg');
      background-size: 1.2rem .6rem;
    }
  }
}

.ttt-pnwc-message {
  font-family: var(--font-bold);
  font-size: 1.4rem;
  text-align: left;
  line-height: 1.5;

  .button {
    display: none;
  }
}
